doctype html
html(lang="en")
    head
        meta(charset="UTF-8", name="viewport",content="width=device-width, initial-scale=1.0, ie=edge",http-equiv="X-UA-Compatible")
        title 服務項目 / 混丹視覺工作室
    body
        #loading
        input(type="checkbox", id="menuControl")
        input(type="checkbox", id="searchControl")
        #body_bgc
            .headerspace
            header.header_bgc
                include ../../public/html/header.pug
            section.banner_service-container
                .slogan_service
                    p='攝影 Ｘ 網站'
                        span='當影像碰上程式'
            section.flex_cards
                -
                    var flex_cards_arr = [{
                            num:'1',
                            title:'照片總是拍不好？',
                            sub_title:'就不會拍啊！',
                            text:'別擔心找混丹'
                        },{
                            num:'2',
                            title:'排版總是搞不定？',
                            sub_title:'就不會排啊！',
                            text:'別擔心找混丹'
                        },{                                                
                            num:'3',
                            title:'資料總是搞不定？',
                            sub_title:'就不會建啊！',
                            text:'別擔心找混丹'                           
                        },{                                                
                            num:'4',
                            title:'網站上線總是麻煩一堆？',
                            sub_title:'就不會用啊！',
                            text:'別擔心找混丹'                         
                        }];
                each val, key in flex_cards_arr                                       
                    .flex_card
                        .card_title
                            h3=val.title
                            h4=val.sub_title
                        .card_desc
                            p=val.text
            section.flex_cards
            footer.footer_wrap
                include ../../public/html/footer.pug
        script(src='./js/vendor.js')
        //- script(src='./js/common.js')