doctype html
html(lang="en")
    head
        meta(charset="UTF-8", name="viewport",content="width=device-width, initial-scale=1.0, ie=edge",http-equiv="X-UA-Compatible")
        title 首頁 / 混丹視覺工作室
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css',rel='stylesheet')
    body
        #loading
        input(type="checkbox", id="menuControl")
        input(type="checkbox", id="searchControl")
        #body_bgc
            .headerspace
            header.header_bgc
                include ../../public/html/header.pug
            //-wrap
            .banner
                //-button
                a.arrow(href='javascript:;')
                    img(class='prev',src='../../assets/arrow-left-01.png')                
                
                //-scroller
                .banner_slider     
                    //-items
                    ul 
                        each val,key in {'banner_slider_1':'專業可靠快速的攝影服務','banner_slider_2':'全套式的網站建置顧問服務','banner_slider_3':'素材拍攝到網站建置一次完成'}
                            li(style="background-image:url(../../assets/"+key+".jpg)")
                                span=val
                .caption
                 //- sticky
                a.reserve_btn(href='reserve.html')='馬上預約'
                    
                //-button
                a.arrow(href='javascript:;')
                    img(class='next',src='../../assets/arrow-right-01.png',)
            
            //-icon section
            section.iconWrap-container
                - 
                    var icon_arr = [{
                            id:'icon1',
                            name:'camera',
                            title:'專業攝影服務',
                            subtitle:'獨特細膩的攝影眼',
                            context:['結合專業攝影知識','值得您信賴的品質','影像靈魂與您共鳴']
                        },
                        {
                            id:'icon2',
                            name:'dev',
                            title:'網站建置服務',
                            subtitle:'電商時代不可或缺',
                            context:['網站建置顧問服務','讓您不再缺東缺西','HTML＋CSS＋JS＋PHP']
                        },
                        {
                            id:'icon3',
                            name:'image',
                            title:'視覺整合服務',
                            subtitle:'客製化的影像素材',
                            context:['素材精準符合需求','網站建置素材拍攝','混丹幫您一次解決']
                        }];                   
                .iconWrap             
                    each val, key in icon_arr
                        div(class='icon' class=[val.id])
                            .iconImg-container
                                img(src='../../assets/icon_'+val.name+'.png',alt=val.title)
                            .iconTxt-container
                                h2=val.title
                                p=val.subtitle
                                    each val2, key2 in val.context
                                        span=val2
                            .reserve_btn
                                a(href='services.html')='暸解更多'
            //-photowork section
            //- .photoWorks-container-bg
                p='Photography'            
            section.photoWorks-container
                //- .photoWorks
                    //- div(class='prev sliderCtrl')
                        .slider-controlLine
                    //- div(class='next sliderCtrl')
                    //-     .slider-controlLine.slider-controlLine-right                   
                -
                    var photo_arr = [{
                            num:'1',
                            title:'Fashion Style',
                            text:'make it happen'
                        },{
                            num:'2',
                            title:'Fashion Style',
                            text:'redefined beautiful'
                        },{                                                
                            num:'3',
                            title:'Fashion Style',
                            text:'make it stunning'                            
                        }];

                .photoWorks
                    each val, key in photo_arr
                        div(class='slide' class='pw pw'+val.num)
                            div(class='img_container')
                                img(src='../../assets/photoworks'+val.num+'.jpg',alt='攝影比賽'+val.num,class='animated',data-animation-in='zoomInImage')
                            div(class='txt_container')
                                h4(class="animated" data-animation-in="fadeInLeft" data-delay-in=".5")=val.title
                                p(class="animated" data-animation-in="fadeInUp" data-delay-in="1")=val.text
            //-webwork section
            //- .webWorks-container-bg
                p='RWD works'
            section.webWorks-container
                -
                    var web_arr = {'1':'1','2':'2','3':'3','4':'4'}
                .webWorks-bg
                .webWorks
                    .text-container
                        .text
                            p='可靠 Ｘ 快速 Ｘ 精準'
                            p='客製化RWD網站'
                        .btn
                            a(href='webWorks.html')='更多作品'
                    .img-container
                        each val, key in web_arr
                            .img-sub-container(style="background-image:url(../../assets/webwork"+key+".jpg)")                                                                                   
            //-takeaction section
            section.takeAction-container
                .takeAction
                    .takeActionTxt-container
                        .takeActionTxt
                            p='混丹工作室是您合作的好夥伴'
                            p='專業可靠的完整服務'
                            p='值得您信賴！現在就預約'
                    .takeActionBtn-container
                        .takeActionBtn
                            a(href='reserve.html')='馬上預約'
            //-status section
            section.statusWrap-container
                -
                    var status_arr = [{
                            num:'1',
                            title:'4年',
                            text:'拍攝經驗'
                        },{
                            num:'2',
                            title:'40k次',
                            text:'快門數'
                        },{                                                
                            num:'3',
                            title:'4年',
                            text:'程式經驗'                            
                        },{                                                
                            num:'4',
                            title:'45k行',
                            text:'程式碼'                            
                        },{                                                
                            num:'5',
                            title:'4位',
                            text:'專業夥伴'                            
                        }];                 
                .statusWrap
                    each val, key in status_arr
                        .status(style="background-image:url(../../assets/status"+val.num+".jpg)")
                            .status-header
                                p=val.title
                                    span=val.text
            //-fellow section
            section.fellowWrap-container
                -
                    var fellow_arr = [{
                            num:'1',
                            title:'平面攝影師',
                            name:'Daniel',
                            en_title:'photographer'
                        },{
                            num:'2',
                            title:'網頁設計師',
                            name:'DanDan',
                            en_title:'designer'
                        },{                                                
                            num:'3',
                            title:'網頁工程師',
                            name:'A Dan',
                            en_title:'developer'                           
                        },{                                                
                            num:'4',
                            title:'行銷業務',
                            name:'DanBro',
                            en_title:'saler'                           
                        }];            
                .fellowWrap
                    each val, key in fellow_arr
                        .fellow
                            img(src='../../assets/fellow_'+val.en_title+'.jpg')
                            .fellow-header
                                .fellow-img-container
                                    img(src='../../assets/fellow_'+val.en_title+'.jpg')
                                p=val.name
                                    span=val.title
                            .fellow-body
            section.location-form-container
                .location-container
                    #map
                .form-container
                    .form
                        .input-container
                            input.uname(type='text',aria-label='姓名',id="form-uname")
                            label.uname-label(aria-hidden="true",for='form-uname')='姓名'
                        .input-container
                            input.mail(type='email',aria-label='e-mail',id="form-e-mail")
                            label.mail-label(aria-hidden="true",for='form-e-mail')='e-mail'
                        .input-container
                            textarea(name="comment",cols="30", rows="10",aria-label='想和我們說什麼',id="form-comment")
                            label.comment-label(aria-hidden="true",for="form-comment")='想和我們說什麼'
                        .input-container
                            input.submit(type='submit',aria-label='submit',value='submit')
            footer.footer_wrap
                include ../../public/html/footer.pug
        script(src='./js/vendor.js')
        //- script(src='./js/common.js')